.error {
	color: red;
}

form {font-family: sans-serif; }
p {font-family: sans-serif; }

.tg-table-plain td, .tg-table-plain{ border-collapse: collapse; border-spacing: 0; font-size: 100%; font-family: sans-serif; padding: 3px; }
.tg-table-light td, .tg-table-light th { background-color: #fff; border: 1px #bbb solid; font-size: 100%; padding: 10px; vertical-align: top; }

.tg-table-light { border-collapse: collapse; border-spacing: 0; }
.tg-table-light td, .tg-table-light th { background-color: #fff; border: 1px #bbb solid; font-family: sans-serif; font-size: 100%; padding: 10px; vertical-align: top; }
.tg-table-light .tg-odd td  { background-color: #eee; }
.tg-table-light th  { background-color: #ddd; color: #333; font-size: 110%; font-weight: bold; }
.tg-table-light tr:hover td, .tg-table-light tr.odd:hover td  { color: #222; background-color: #FCFBE3; }
.tg-bf { font-weight: bold; } .tg-it { font-style: italic; }
.tg-left { text-align: left; } .tg-right { text-align: right; } .tg-center { text-align: center; }
.tg-table-light td, .ui-widget { font-size: 100%; }

